# API Configuration
VITE_API_BASE_URL=https://api.kontracts.pro/api/v1

# For development, use:
# VITE_API_BASE_URL=https://api-dev.kontracts.pro/api/v1

# PostHog configuration
VITE_POSTHOG_KEY=<POSTHOG_KEY>
VITE_POSTHOG_HOST=https://app.posthog.com
